/* Global */

body {
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.5rem;
  overflow-y: scroll;
  background: url('./images/back.jpg') no-repeat fixed;
  background-size: cover;
}

.container {
  width: 95%;
  margin: auto;
  overflow: hidden;
  opacity: 0.90;
}

.center-box {
  display: flex;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
}

/* Header */

.header-tag {
  margin: 5px 0px;
  text-align: center;
  font-variant: small-caps
}

.header-tag Button {
  font-size: 150%;
  font-weight: bolder;
  text-shadow: 2px 2px 2px brown;
}

/* Login Page */

.login-main {
  margin: auto;
  min-width: fit-content;
  max-width: 450px;
}

.login-box {
  display: flex;
  justify-content: center;
  min-height: 100%;
  margin: 10px auto;
  max-width: fit-content;
}

.styling-paper {
  width: 350px;
  padding: 15px;
}

.login-question {
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* dashboard styling */

.styling-appbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Home page styling */

.home-appbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
}