/* Global Styling */

body {
  background-color: #f4f4f4;
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.5rem
}

.container {
  width: 95%;
  margin: auto;
  overflow: hidden
}

/* Login Page */

.login-main {
  margin: auto;
  width: 400px;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  margin: 10px auto;
  max-width: fit-content;
}

.styling-paper {
  width: 350px;
  padding: 15px;
}

.login-question {
  margin-top: 10px;
  display: block;
  text-align: center;
}

.styling-link {
  text-decoration: none;
  color: white
}