/* Global Styling */

body {
  background-color: #f4f4f4;
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.5rem
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden
}

/* Login Page */

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 10px;
}

.styling-paper {
  width: 350px;
  padding: 15px;
}

.login-question {
  margin-top: 10px;
  display: block;
  text-align: center;
}